@{
    ViewData["Title"] = "Lịch sử mua hàng";
}
@model IEnumerable<MobileShop.Core.Models.Order>

<partial name="_AlertNoti" />
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Lịch sử mua hàng</h1>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
                        <th>Ngày đặt</th>
                        <th>Địa chỉ</th>
                        <th>Ghi chú</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th style="padding-left: 10rem;">Hành động</th>
        </tr>
    </thead>
    <tbody>
        <!-- Sample purchase history data -->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateOrder</td>
                <td>@item.Address</td>
                <td>@item.Notes</td>
                <td>@item.TotalPrice.ToString("C2")</td>
                <td>@item.OrderStatus</td>

                <td style="text-align: center;">
                    @if(@item.OrderStatus == "Thành công" || @item.OrderStatus == "Đã hủy")
                    {
                    }
                    else if (@item.OrderStatus == "Đang giao hàng")
                    {
                         <a class="btn btn-success" href="/product/ConfirmShip/@item.OrderId">Đã nhận hàng</a>
                         <a class="btn btn-danger" href="/product/Cancel/@item.OrderId">Hủy đơn</a>
                    }

                </td>
            </tr>
        }
        <!-- Add more rows for additional purchases -->
    </tbody>
</table>